<button mat-button class="btn btn-primary" routerLink="/adduser">
    <span>Ajouter Utilisateur</span>
</button>

<table class="table"> <!--*ngfor sur ton tableau d'objetc-->
    <thead>
      <tr>
        <th scope="col">#</th> <!--user.nom-->
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td><button type="submit" class="btn btn-primary">Modifier</button> &nbsp;
            <button type="submit" class="btn btn-primary">Delete</button>
        </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
        <td><button type="submit" class="btn btn-primary">Modifier</button> &nbsp;
            <button type="submit" class="btn btn-primary">Delete</button>
        </td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
        <td><button type="submit" class="btn btn-primary">Modifier</button> &nbsp;
            <button type="submit" class="btn btn-primary">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>

